[class*="col-"]{
    background-color: blue;
    height: 50px;
    border: white 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.vert{
    background-color: yellowgreen;
}