[class*="col-"]{
    background-color: blue;
    height: 50px;
    border: white 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.vert{
    background-color: rgb(78, 238, 75);
    border-top: 5px solid blue;
    border-bottom: 5px solid blue;
    border-left: 1px solid blue;
    border-right: 1px solid blue;

}
.contenitoreset{
    margin-top: 20px;
}
.color{
    background-color: blue;
}
.back{
    background-color: chartreuse;
    border-bottom: 10px solid blue;
    border-top: 10px solid blue;
    border-left: none;
    border-right: none;
}


